body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #222;
  margin: 0 auto;
  padding: 30px;
  max-width: 650px;
  line-height: 1.5;
}

h2, h3 { 
  line-height: 1.2 
}

a {
  color: #0099ff;
  text-decoration: none;
}

a:hover { 
  text-decoration: underline; 
}
